*, *::before, *::after {
  box-sizing: border-box;
}
html,body{
  margin: 0;
  padding: 0;
}
#Events{
  min-height: 100vh;
  background-repeat:repeat-y;
  background-position: top center;
  background-size: 100% auto;
  background-attachment: scroll;
  overflow-x: hidden;
}
#slides{
  margin-top: 20vw;
  display: flex;
  flex-direction: column;
  gap: 25vw;
}

          /* disrupt starts  */

.box{
  position: relative;
  margin: 0 auto;
  width: 75vw;
  border-radius: 7vw;
}
h1, h2, h3, p{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
#disrupt{
  background-image: url(./assets/disruptbg.svg);
  background-color: #070C17;
  padding: 5vw;
  border: 1px solid #fff;
  margin-top: 2vh;
}
#disrupt h1{
  color: #FEFBF1;
  font-family: 'Manrope', system-ui, sans-serif;
  font-size: 8vw;
  font-style: normal;
  font-weight: 800;
  line-height: 77%;
  padding-left: 4vw;
}
#disrupt h2{
  color: #D9FE78;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 4.5vw;
  margin-top: 1vw;
}
#disrupt h3{
  color: #FEFBF1;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 3vw 3vw 3vw 1vw;
}
#di1{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10%, -40%);
  max-width: 15vw;
  height: auto;
}
#di2{
  position: absolute;
  display: inline-block;
  padding: 3vw 4vw;
  background-color: #FEFBF1;
  border-radius: 4vw;
  border: 0.3vw solid #141131;
  color: #070C17;
  text-align: center;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  top: 0;
  right: 0;
  transform: translate(-20% , -60%);
}
#di3{
  position: absolute;
  display: flex;
  bottom: 0;
  transform: translate(-50%,40%);
  left: 50%;
  white-space: nowrap;
}
#di31{
  background-color: #D9FE78;
  color: #000;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 2vw 3vw;
  border-radius: 3vw;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#di32{
  background-color: #D9FE78;
  padding: 2vw 3vw;
  border-radius: 3vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
  text-align: center;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 100%;
}
#di31 svg{
  width: 4vw;
  height: auto;
}
#di4{
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, -30%);
  width: 15vw;
  height: auto;
}

/* internfair starts */

#intern{
  background-image: url(./assets/internbg.svg);
  padding: 5vw;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
}
#intern h1{
  color: #033030;
  font-family: 'Manrope', system-ui, sans-serif;
  font-size: 8vw;
  font-style: normal;
  font-weight: 800;
  line-height: 77%;
  text-align: right;
}
#intern h2{
  display: inline-block;
  background-color: #FBD03E;;
  color: #032D29;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: right;
  margin-left: auto;
  margin-top: 1vw;
}
#intern h3{
  color: #032D29;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 2vw 5vw 1vw 1vw;
}
#in1{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-20%, -20%);
  width: 8vw;
  height: auto;

}
#in2{
  position: absolute;
  display: inline-block;
  padding: 3vw 4vw;
  background: #032D29;
  border-radius: 2vw;
  border: 0.3vw solid #141131;
  color: #FCFFC8;
  text-align: center;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  top: 0;
  left: 0;
  transform: translate(20% , -60%);
}
#in3{
  position: absolute;
  display: flex;
  align-items: stretch;
  bottom: 0;
  transform: translate(-50%,40%);
  left: 60%;
  white-space: nowrap;
}
#in31{
  background-color: #032D29;
  color: #FCFFC8;
  font-family: 'Inter', system-ui, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 2vw 3vw;
  border-radius: 2vw;
  border: 0.3vw solid #FFF9F0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-shrink: 0;
  font-size: 2vw;
}
#in32{
  background-color: #FBD03E;
  color: #032D29;
  font-family: 'Inter', system-ui, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 2vw 3vw;
  border-radius: 2vw;
  border: 0.3vw solid #FFF9F0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-shrink: 0;
  font-size: 2vw;
}
#in4,#in5,#in6,#in7{
  position: absolute;
  max-width: 15vw;
  height: auto;
}
#in4{
  bottom: 0;
  right: 1vw;
  transform: translate(15%,-10%);
}
#in5{
  bottom: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
#in6{
  bottom: 0;
  left: 0;
  transform: translate(0%,50%);
}
#in7{
  bottom: 0;
  left: 0;
  transform: translate(10%,40%);
}
#in8{
  color: #032D29;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 2vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: auto;
}

/* expo starts  */

#expo{
  background-image: url(./assets/expo.svg);
  background-color: #FEFBF1;
  padding: 4vw;
}
#exbg{
  position: relative;
  margin: auto;
  overflow: hidden;
  min-height: 30vw;
}
#exbbg{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
#exor{
  position: absolute;
  left: 0%;
  top: 0%;
  min-width: 15vw;
}
#exwr{
  position: absolute;
  top: 1vw;
  left: 16vw;
  width: 25vw;
  height: auto;
}
#exbg p{
  position: absolute;
  top: 13vw;
  left: 16vw;
  color: #0A0024;
  text-align: left;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: 135.189%;
  width: 70%;
}
#ex2{
  position: absolute;
  display: inline-block;
  padding: 3vw 4vw;
  background: #0A0024;
  border-radius: 4vw;
  border: 0.3vw solid #262261;
  color: #FCFFC8;
  text-align: center;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  top: 0;
  right: 0;
  transform: translate(20% , 30%);
}
#ex3{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, 0%);
  width: 5vw;
  height: auto;
}
#ex4{
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  transform: translate(-50%,40%);
  left: 70%;
  white-space: nowrap;
}
#ex41{
  background-color: #0A0024;
  color: #EF9539;
  font-family: Inter;
  font-size: 3vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 2vw 3vw;
  border-radius: 3vw;
  border: 0.3vw solid #262261;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
#ex41 svg{
  width: 5vw;
  height: auto;
}
/* pmx starts  */

#pmx{
  background-image: url(./assets/pmx\ grid.png);
  background-color: #4E16E6;
  padding: 4vw 4vw 4vw 6vw;
  background-size: cover;
  position: relative;
}
#pmx1{
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-40%, -40%);
  max-width: 15vw;
  height: auto;
}
#pmx2{
  position: absolute;
  display: inline-block;
  padding: 3vw 4vw;
  background-color:  #FFF4E4;
  color: #070C17;
  text-align: center;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  top: 0;
  right: 0;
  transform: translate(-20% , -30%);
  border-radius: 4vw;
  border: 0.3vw solid #141131;
}
#pmx3{
  position: absolute;
  display: flex;
  align-items: stretch;
  bottom: 0;
  transform: translate(-50%,40%);
  left: 30%;
  white-space: nowrap;
}
#pmx31{
  color: #EE3B3F;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 2vw 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 3vw;
  border: 0.3vw solid #000;
  background: #FFF6EA;
}
#pmx31 svg{
  max-width: 5vw;
  height: auto;
}
#pmxh{
  background-image: url(./assets/internbg.svg);
  background-repeat: repeat;
  padding: 2vw;
  /* width: 85%; */
}
#pmxh h1{
  color: #262261;
  font-family: 'Manrope', system-ui, sans-serif;
  font-size: 8vw;
  font-style: normal;
  font-weight: 800;
  line-height: 77%; /* 5.775rem */
  /* letter-spacing: -0.15rem; */
}
#pmxh h2{
  color: #FD4248;
  font-family: TangoSans;
  font-size: 3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1vw;
}
#pmxh h3{
  color: #000;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 2vw 0vw;
}
#pmx4{
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, -10%);
  max-width: 15vw;
  height: auto;
}

/* sparkle starts  */

#spk{
  background-image: url(./assets/spkbg.svg);
  background-color: #FDD442;
  padding: 5vw;
  position: relative;
  margin-bottom: 200px;
}
#spkh{
  width: 90%;
}
#spk h1{
  color: #7A1AF3;
  font-family: 'Manrope', system-ui, sans-serif;
  font-size: 8vw;
  font-style: normal;
  font-weight: 800;
  line-height: 77%;
}
#spk h2{
  color: #7A1AF3;
  font-family: 'Manrope', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 2.52025rem */
  margin-top: 1vw;
}
#spk h3{
  color: #000;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 2vw 0vw
}
#spk2{
  position: absolute;
  display: inline-block;
  padding: 3vw 4vw;
  background-image:url(./assets/spkbgbg.svg);
  background-size: 120%;
  background-position: center;
  color: #FFF9F0;
  text-align: center;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  top: 0;
  right: 0;
  transform: translate(-20% , -60%);
  border-radius: 4vw;
  border: 0.3vw solid #141131;
}
#spk3{
  position: absolute;
  display: flex;
  align-items: stretch;
  bottom: 0;
  transform: translate(-50%,40%);
  left: 60%;
  white-space: nowrap;
}
#spk31{
  color: #FFF9F0;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 2vw 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 3vw;
  border: 0.3vw solid #000;
  background-image: url(./assets/spkbgbg.svg);
  background-size: 120%;
  background-position: center;
}
#spk31 svg{
  max-width: 7vw;
  height: auto;
}
#spk4{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  transform: translate(-45%,-45%);
  max-width: 15vw;
  height: auto;
}
#spk5{
  position: absolute;
  bottom: 0;
  right:0;
  transform: translate(30%,0%);
  max-width: 15vw;
  height: auto;
}

/* encode strats  */

#enc{
  background-color: #161616;
  background-image: url("./encode_bg.svg");
  padding: 5vw;
  position: relative;
}
#enc h1{
  color: #FFF9F0;
  text-align: justify;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0vw 5vw;
  margin: 4vw 0vw;
}
#encimg{
  display: inline-block;
  width: 40vw;
  height: auto;
  margin-left: 20vw;
}
#enc2{
  position: absolute;
  display: inline-block;
  padding: 3vw 4vw;
  background-color:  #1CC972;
  color: #070C17;
  text-align: center;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  top: 0;
  left: 0;
  transform: translate(20% , -30%);
  border-radius: 4vw;
  border: 0.3vw solid #141131;
}
#enc3{
  position: absolute;
  width: 20vw;
  height: auto;
  bottom: 0;
  left: 0;
  transform: translate(-40%, -10%);
}
#enc4{
  position: absolute;
  width: 25vw;
  height: auto;
  bottom: 0;
  right: 0;
  transform: translate(47%,0%);
}
#enc5{
  position: absolute;
  display: flex;
  align-items: stretch;
  bottom: 0;
  transform: translate(-50%,40%);
  left: 60%;
  white-space: nowrap;
}
#enc31{
  color: #161616;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 2vw 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 3vw;
  border: 0.3vw solid #000;
  background: #1CC972;
}
#enc31 svg{
  max-width: 5vw;
  height: auto;
}

/* dframe starts  */

#df{
  background-color: #151515;
  background-image: url("./dframe_bg.svg");
  background-size: contain;
  padding: 5vw;
  position: relative;
}
#df h1{
  color: #FFF9F0;
  font-family: 'Manrope', system-ui, sans-serif;
  font-size: 8vw;
  font-style: normal;
  font-weight: 900;
}
#df1{
  width: 35vw;
  height: auto;
}
#df h2{
  color: #FFF9F0;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 85%;
  margin-bottom: 4vw;
}
#df1{
  margin: 1vw 0 3vw 0;
}
#df2{
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50vw;
}
#df5{
  position: absolute;
  display: flex;
  align-items: stretch;
  bottom: 0;
  transform: translate(-50%,40%);
  left: 30%;
  white-space: nowrap;
}
#df31{
  color: #FFF9F0;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 2vw 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 3vw;
  border: 0.3vw solid #151131;
  background: #8D42FD;
}
#df31 svg{
  max-width: 5vw;
  height: auto;
}
#df3{
  position: absolute;
  display: inline-block;
  padding: 3vw 4vw;
  background-color:#FD4248  ;
  color: #FFF9F0;
  text-align: center;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  top: 0;
  right: 0;
  transform: translate(-20% , -30%);
  border-radius: 4vw;
  border: 0.3vw solid #141131;
}

/* nec starts  */

#nec{
  background-image: url(./assets/expo.svg);
  background-color: #791323;
  padding: 4vw;
}
#nec1{
  background-color:#791323 ;
  display: flex;
  flex-direction: row;
}
#nec2{
  padding: 1vw;
}
#nec h1{
  color: #FFF9F0;
  font-family: 'Manrope', system-ui, sans-serif;
  font-size: 8vw;
  font-style: normal;
  font-weight: 800;
  line-height: 77%;
  text-align: left;
}
#nec h2{
  display: inline-block;
  color: #FFF9F0;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 2vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 1vw;
}
#nec h3{
  color: #FFF9F0;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 2vw 0vw 1vw 0vw;
}
#nec1 img{
  width: auto;
  height: 25vw;
}
#nec5{
  position: absolute;
  display: flex;
  align-items: stretch;
  bottom: 0;
  transform: translate(-50%,40%);
  left: 30%;
  white-space: nowrap;
}
#nec31{
  color: #791323;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 2vw 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 3vw;
  border: 0.3vw solid #151131;
  background: #FDD442;
}
#nec31 svg{
  max-width: 5vw;
  height: auto;
}
#nec3{
  position: absolute;
  display: inline-block;
  padding: 3vw 4vw;
  background-color:#FDD442  ;
  color: #791323;
  text-align: center;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  top: 0;
  right: 0;
  transform: translate(-20% , -30%);
  border-radius: 4vw;
  border: 0.3vw solid #141131;
}

/* lsw starts  */
#lsw{
  background-color: #262261;
  background-image: url("./lsw_bg.svg");
  padding: 5vw;
  position: relative;
  background-size: cover;
}
#lsw1{
  width: 45vw;
  height: auto;
  margin: auto;
  padding-left: 5vw;
}
#lsw2{
  position: absolute;
  left: 0;
  width: 200vw;
  height: auto;
}
#lsw h3{
  color: #FFF9F0;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 4vw 0;
}
#lsw3{
  position: absolute;
  top: 5vw;
  right: 6vw;
  height: 10vw;
  width: auto;
}
#lsw4{
  position: absolute;
  bottom: 1vw;
  left: 4vw;
  width: 12vw;
  height: auto;
}
#lsw5{
  position: absolute;
  bottom:0;
  right: -7.5vw;
  width: 13vw;
  height: auto;
}
#lsw6{
  position: absolute;
  display: flex;
  align-items: stretch;
  bottom: 0;
  transform: translate(-50%,40%);
  left: 65%;
  white-space: nowrap;
}
#lsw61{
  color: #262261;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 2vw 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 3vw;
  border: 0.3vw solid #151131;
  background: #FDD442;
}
#lsw61 svg{
  max-width: 5vw;
  height: auto;
}
#lsw7{
  position: absolute;
  display: inline-block;
  padding: 3vw 4vw;
  background-color:#FDD442  ;
  color: #262261;
  text-align: center;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  top: 0;
  right: 70%;
  transform: translate(-20% , -30%);
  border-radius: 4vw;
  border: 0.3vw solid #141131;
}

/* antha prerna starts  */
#ap{
  position: relative;
  background-color: #151515;
  background-image: url("./ap_bg.svg");
  display: flex;
  flex-direction: row;
  align-items: center;
}
#ap2,#ap3,#ap4,#ap5,#ap6,#ap7{
  position: absolute;
}
#apcon{
  position: relative;
  width: 200vw;
  height: auto;
  margin: 4vw 4vw 0 8vw;
}
#ap2{
  bottom: 0;
  scale: 1.1;
  width: 100vw;
  height: auto;
  transform: translate(0,-4.5%);
}
#ap3{
  bottom: 0;
}
#ap4{
  bottom: 10vw;
  width: 22vw;
  height: auto;
  left: 0.6vw;
}
#ap5{
  bottom: 8vw;
  width: 16vw;
  height: auto;
  left: 4.5vw;
}
#ap6{
  right: 0;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 12vw;
  height: auto;
}
#ap7{
  right: 0;
  width: 16vw;
  height: auto;
  bottom: -3vw;
  right: -5vw;
}
#ap h3{
  color: #FFF9F0;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 3vw 4vw;
}
#ap8{
  position: absolute;
  display: flex;
  align-items: stretch;
  bottom: 0;
  transform: translate(-50%,40%);
  left: 45%;
  white-space: nowrap;
}
#ap61{
  color: #151131;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 2vw 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 3vw;
  border: 0.3vw solid #151131;
  background: #FFF9F0;
}
#ap61 svg{
  max-width: 5vw;
  height: auto;
}