*, *::before, *::after {
  box-sizing: border-box;
}
html,body{
  margin: 0;
  padding: 0;
}
#Events{
  min-height: 100vh;
  background-repeat:repeat-y;
  background-position: top center;
  background-size: 100% auto;
  background-attachment: scroll;
  overflow-x: hidden;
}
#slides{
  margin-top: 20vw;
  display: flex;
  flex-direction: column;
  gap: 25vw;
}

          /* disrupt starts  */

.box{
  position: relative;
  margin: 0 auto;
  width: 70vw;
  border-radius: 7vw;
}
h1, h2, h3, p{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
#disrupt{
  background-image: url(./assets/disruptbg.svg);
  background-color: #070C17;
  padding: 5vw;
  border: 1px solid #fff;
  margin-top: 2vh;
}
#disrupt h1{
  color: #FEFBF1;
  font-family: 'Manrope', system-ui, sans-serif;
  font-size: 10vw;
  font-style: normal;
  font-weight: 800;
  line-height: 77%;
  padding-left: 4vw;
}
#disrupt h2{
  color: #D9FE78;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 4vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 4.5vw;
  margin-top: 1vw;
}
#disrupt h3{
  color: #FEFBF1;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 5vw 5vw 5vw 1vw;
}
#di1{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10%, -40%);
  max-width: 15vw;
  height: auto;
}
#di2{
  position: absolute;
  display: inline-block;
  padding: 3vw 4vw;
  background-color: #FEFBF1;
  border-radius: 4vw;
  border: 0.4vw solid #141131;
  color: #070C17;
  text-align: center;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  top: 0;
  right: 0;
  transform: translate(-20% , -60%);
}
#di3{
  position: absolute;
  display: flex;
  bottom: 0;
  transform: translate(-50%,40%);
  left: 50%;
  white-space: nowrap;
}
#di31{
  background-color: #D9FE78;
  color: #000;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 4vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 2vw 3vw;
  border-radius: 3vw;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#di32{
  background-color: #D9FE78;
  padding: 2vw 3vw;
  border-radius: 3vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
  text-align: center;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 2vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 100%;
}
#di31 svg{
  width: 9vw;
  max-height: 9vw;
}
#di4{
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, -30%);
  width: 15vw;
  height: auto;
}

/* internfair starts */

#intern{
  background-image: url(./assets/internbg.svg);
  padding: 5vw;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
}
#intern h1{
  color: #033030;
  font-family: 'Manrope', system-ui, sans-serif;
  font-size: 10vw;
  font-style: normal;
  font-weight: 800;
  line-height: 77%;
  text-align: right;
}
#intern h2{
  display: inline-block;
  background-color: #FBD03E;;
  color: #032D29;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 4vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: right;
  margin-left: auto;
  margin-top: 1vw;
}
#intern h3{
  color: #032D29;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 5vw 5vw 5vw 1vw;
}
#in1{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-20%, -20%);
  width: 8vw;
  height: auto;

}
#in2{
  position: absolute;
  display: inline-block;
  padding: 3vw 4vw;
  background: #032D29;
  border-radius: 2vw;
  border: 0.4vw solid #141131;
  color: #FCFFC8;
  text-align: center;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  top: 0;
  left: 0;
  transform: translate(20% , -70%);
}
#in3{
  position: absolute;
  display: flex;
  align-items: stretch;
  bottom: 0;
  transform: translate(-50%,40%);
  left: 60%;
  white-space: nowrap;
}
#in31{
  background-color: #032D29;
  color: #FCFFC8;
  font-family: 'Inter', system-ui, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 2vw 3vw;
  border-radius: 3vw;
  border: 0.4vw solid #FFF9F0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-shrink: 0;
  font-size: 2vw;
}
#in32{
  background-color: #FBD03E;
  color: #032D29;
  font-family: 'Inter', system-ui, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 2vw 3vw;
  border-radius: 3vw;
  border: 0.4vw solid #FFF9F0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-shrink: 0;
  font-size: 2vw;
}
#in4,#in5,#in6,#in7{
  position: absolute;
  max-width: 15vw;
  height: auto;
}
#in4{
  bottom: 0;
  right: 1vw;
  transform: translate(8%,-30%);
}
#in5{
  bottom: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
#in6{
  bottom: 0;
  left: 0;
  transform: translate(0%,50%);
}
#in7{
  bottom: 0;
  left: 0;
  transform: translate(10%,40%);
}
#in8{
  color: #032D29;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: auto;
}

/* expo starts  */

#expo{
  background-image: url(./assets/expo.svg);
  background-color: #FEFBF1;
  padding: 4vw;
}
#exbg{
  position: relative;
  margin: auto;
  overflow: hidden;
  min-height: 370px;
}
#exbbg{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
#exor{
  position: absolute;
  left: 0%;
  top: 0%;
}
#exwr{
  position: absolute;
  scale: 0.7;
  top: 0px;
  left: 160px;
}
#exbg p{
  position: absolute;
  bottom: 0px;
  left: 200px;
  color: #0A0024;
  text-align: left;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 135.189%;
  width: 70%;
}
#ex2{
  position: absolute;
  display: inline-block;
  padding: 30px 40px;
  background: #0A0024;
  border-radius: 1.5rem;
  border: 4px solid #262261;
  color: #FCFFC8;
  text-align: center;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  top: 0;
  right: 0;
  transform: translate(20% , 30%);
}
#ex3{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, 0%);
}
#ex4{
  position: absolute;
  display: flex;
  align-items: stretch;
  bottom: 0;
  transform: translate(-50%,40%);
  left: 70%;
  white-space: nowrap;
}
#ex41{
  background-color: #0A0024;
  color: #EF9539;
  font-family: Inter;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 15px 25px;
  border-radius: 1.5rem;
  border: 1px solid #262261;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-shrink: 0;
}

/* pmx starts  */

#pmx{
  background-image: url(./assets/pmx\ grid.svg);
  background-color: #4E16E6;
  padding: 4vw 4vw 4vw 6vw;
  background-size: cover;
  position: relative;
}
#pmx1{
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-40%, -40%);
  max-width: 15vw;
  height: auto;
}
#pmx2{
  position: absolute;
  display: inline-block;
  padding: 3vw 4vw;
  background-color:  #FFF4E4;
  color: #070C17;
  text-align: center;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  top: 0;
  right: 0;
  transform: translate(-20% , -30%);
  border-radius: 4vw;
  border: 0.4vw solid #141131;
}
#pmx3{
  position: absolute;
  display: flex;
  align-items: stretch;
  bottom: 0;
  transform: translate(-50%,40%);
  left: 30%;
  white-space: nowrap;
}
#pmx31{
  color: #EE3B3F;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 4vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 1vw 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 3vw;
  border: 0.4 solid #000;
  background: #FFF6EA;
}
#pmx31 svg{
  max-width: 9vw;
  height: auto;
}
#pmxh{
  background-image: url(./assets/internbg.svg);
  background-repeat: repeat;
  padding: 2vw;
  width: 85%;
}
#pmxh h1{
  color: #262261;
  font-family: 'Manrope', system-ui, sans-serif;
  font-size: 10vw;
  font-style: normal;
  font-weight: 800;
  line-height: 77%; /* 5.775rem */
  /* letter-spacing: -0.15rem; */
}
#pmxh h2{
  color: #FD4248;
  font-family: TangoSans;
  font-size: 4vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1vw;
}
#pmxh h3{
  color: #000;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 2vw 0vw;
}
#pmx4{
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, -10%);
  max-width: 15vw;
  height: auto;
}

/* sparkle starts  */

#spk{
  background-image: url(./assets/spkbg.svg);
  background-color: #FDD442;
  padding: 5vw;
  position: relative;
  margin-bottom: 200px;
}
#spkh{
  width: 90%;
}
#spk h1{
  color: #7A1AF3;
  font-family: 'Manrope', system-ui, sans-serif;
  font-size: 10vw;
  font-style: normal;
  font-weight: 800;
  line-height: 77%;
}
#spk h2{
  color: #7A1AF3;
  font-family: 'Manrope', system-ui, sans-serif;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 2.52025rem */
  margin-top: 1vw;
}
#spk h3{
  color: #000;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 2vw 0vw
}
#spk2{
  position: absolute;
  display: inline-block;
  padding: 3vw 4vw;
  background-image:url(./assets/spkbgbg.svg);
  background-size: 120%;
  background-position: center;
  color: #FFF9F0;
  text-align: center;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 4vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  top: 0;
  right: 0;
  transform: translate(-20% , -60%);
  border-radius: 4vw;
  border: 0.4vw solid #141131;
}
#spk3{
  position: absolute;
  display: flex;
  align-items: stretch;
  bottom: 0;
  transform: translate(-50%,40%);
  left: 60%;
  white-space: nowrap;
}
#spk31{
  color: #FFF9F0;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 1vw 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 3vw;
  border: 0.4vw solid #000;
  background-image: url(./assets/spkbgbg.svg);
  background-size: 120%;
  background-position: center;
}
#spk31 svg{
  max-width: 7vw;
  height: auto;
}
#spk4{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  transform: translate(-45%,-45%);
  max-width: 15vw;
  height: auto;
}
#spk5{
  position: absolute;
  bottom: 0;
  right:0;
  transform: translate(30%,0%);
  max-width: 15vw;
  height: auto;
}