@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */

/* 1. Regular */
@font-face {
  font-family: 'TangoSans';
  src: url('./assets/fonts/TangoSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* 2. Bold */
@font-face {
  font-family: 'TangoSans';
  src: url('./assets/fonts/TangoSans_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* 3. Italic */
@font-face {
  font-family: 'TangoSans';
  src: url('./assets/fonts/TangoSans_Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* 4. Bold Italic */
@font-face {
  font-family: 'TangoSans';
  src: url('./assets/fonts/TangoSans_BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #141232;
}
